<% unless @product_properties.empty? %>  
  <h6 class="product-section-title"><%= Spree.t('properties')%></h6>
  <ul id="product-properties" class="list-group" data-hook>
    <% @product_properties.each do |product_property| %>
      <% css_class = cycle('even', 'odd', :name => "properties") %>
      <li class="<%= css_class %> list-group-item">
        <span class='badge'><%= product_property.value %></span>
        <%= product_property.property.presentation %>
      </li>
    <% end %>
    <% reset_cycle('properties') %>
  </ul>
<% end %>
