<footer id="footer" class="row footer" data-hook>
  <hr>
  <div id="footer-left" class="col-md-6" data-hook>
    <div>
      <%= Spree.t :powered_by  %> <%= link_to 'Codemy.net', 'http://www.codemy.net/' %>
    </div>
  </div>
  <div id="footer-right" class="col-md-6" data-hook></div>
</footer>