<footer id="footer" class="row footer" data-hook>
  <div id="footer-left" class="col-md-6" data-hook>
    <div>
      <%= Spree.t :powered_by  %> <%= link_to 'Solidus', 'http://solidus.io/' %>
    </div>
  </div>
  <div id="footer-right" class="col-md-6" data-hook></div>
</footer>